Stock buy n sell.json
{
  "name": "Stock buy n sell",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f1ae4639-d0d8-4729-9170-f6b559201f3b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "function",
              "value": "TIME_SERIES_DAILY"
            },
            {
              "name": "symbol",
              "value": "AAPL"
            },
            {
              "name": "apikey",
              "value": "85E4S7I16GKCLGJK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "38dacd12-9c69-403c-9af6-335783fd2725",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json[\"Time Series (Daily)\"];\nconst dates = Object.keys(data).slice(0, 10);\nconst closes = dates.map(date => parseFloat(data[date][\"4. close\"]));\n\nconst shortMA = closes.slice(0, 3).reduce((a, b) => a + b, 0) / 3;\nconst longMA = closes.slice(0, 7).reduce((a, b) => a + b, 0) / 7;\n\nreturn [{ json: { shortMA, longMA, signal: shortMA > longMA ? \"BUY\" : \"SELL\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "34fee319-15e5-44d7-90fa-6918645ebe5e",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer 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\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Explain the concept of overfitting in machine learning.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "ec17d372-ac38-4b40-b129-b90764442748",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8e189ca-88a7-4b2d-b1b0-7d657a069670",
              "leftValue": "={{ $('Code').item.json.shortMA }}",
              "rightValue": "={{ $('Code').item.json.longMA }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        0
      ],
      "id": "0a2a89de-ea67-4c4c-8042-661f9e9dab24",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"APCA-API-KEY-ID\": \"PKC55WZUX55MCT6V2Q3F\",\n  \"APCA-API-SECRET-KEY\": \"HOAyjfBjnoETVRyln9T22UhTb3pHwliSFRx9z3RX\", \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"symbol\": \"AAPL\",\n  \"qty\": 1,\n  \"side\": \"buy\",\n  \"type\": \"market\",\n  \"time_in_force\": \"gtc\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -128
      ],
      "id": "8c14e789-d518-4a03-9955-66f59334f6c6",
      "name": "HTTP Buy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"APCA-API-KEY-ID\": \"PKC55WZUX55MCT6V2Q3F\",\n  \"APCA-API-SECRET-KEY\": \"HOAyjfBjnoETVRyln9T22UhTb3pHwliSFRx9z3RX\", \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"symbol\": \"AAPL\",\n  \"qty\": 1,\n  \"side\": \"sell\",\n  \"type\": \"market\",\n  \"time_in_force\": \"gtc\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        96
      ],
      "id": "a8c555aa-caa9-4240-b9fb-f7064cd45cd5",
      "name": "HTTP Sell"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Buy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Sell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b105201-e301-440f-8bbe-bcecd0344d24",
  "meta": {
    "instanceId": "83909231682b76f549b2fd7e4cd9d4104567c8a49592f5f60fdfc12ed6826149"
  },
  "id": "kcMeFjhOE6TxfbOB",
  "tags": []
}